@model List<GamingSessionApp.Models.UserNotification>

<li class="dropdown-header">Notifications</li>

@if (Model.Any())
{
    foreach (var n in Model)
    {
        <li class="notif-menu-item @(n.Read == false ? "unread" : "")" data-id="@n.Id">
            <a href="/Sessions/Details/@n.SessionId">@n.Body</a>
        </li>
    }
}
else
{
    <p>You have no notifications</p>
}