@model GamingSessionApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any())
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="text-center">
                <p>
                    <button type="submit" class="btn btn-facebook" id="Facebook" name="provider" value="Facebook">
                        <i class="fa fa-facebook" style="margin-right: 5px;"></i> Log in with Facebook
                    </button>

                    <button type="submit" class="btn btn-google" id="Google" name="provider" value="Google">
                        <i class="fa fa-google" style="margin-right: 5px;"></i> Log in with Google
                    </button>

                    <button type="submit" class="btn btn-microsoft" id="Microsoft" name="provider" value="Microsoft">
                        <i class="fa fa-windows" style="margin-right: 5px;"></i> Log in with Microsoft
                    </button>
                </p>
            </div>
        }
    }
}
