@model GamingSessionApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Reset";
}

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="register-form">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()

        <div class="register-heading">
            <h3>
                <i class="fa fa-lock gray" ></i> Password Reset
            </h3>

            <p class="gray">
                So you've forgotten your password... No problem just tell us your email and we will let you reset your password.
            </p>
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-envelope-o" style="width: 15px"></i></span>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new {@class = "form-control", @placeholder = "Email", @autofocus = "" } })
            </div>
            @Html.ValidationMessageFor(m => m.Email, null, new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <div class="g-recaptcha" style="max-width: 304px; margin: 0 auto" data-sitekey="6Ld9Hh0TAAAAANy65D86uLttDNkIfwRdBT7tyWvL"></div>
        </div>

        <div class="form-group">
                <button type="submit" class="register-btn"><i class="fa fa-unlock"></i> Reset</button>
        </div>
    }
</div>