@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="register-form" style="max-width: 600px;">
        <div class="register-heading">
            <h3>
                <i class="fa fa-envelope-o gray"></i> Request Successful
            </h3>

            <p class="gray">
                An email is on its way to you. Check your inbox and click the link to reset your password.
            </p>
        </div>
</div>
	
