
@{
    ViewBag.Title = "Registration Complete";
}


<div class="text-center" style="margin: 0 auto; max-width: 500px">
    <h2>
        <i class="fa fa-cogs gray"></i> You're almost set
    </h2>
    <div style="font-size: 1.5em">
        <p>Before you can log in you need to verify your account.</p>
        <p>An email confirmation has been sent to your email address. Simply click the link in the email to verify your account.</p>
    </div>
</div>

