@{
    ViewBag.Title = "Password Reset";
}

<div class="register-form">
   <div class="register-heading">
            <h3>
                <i class="fa fa-check"></i> And you're back!
            </h3>

            <p class="gray">
                Your password has been reset. <a href="@Url.Action("Login", "Account")">Log in</a> using your new password.
            </p>
        </div>
</div>