
/**** SESSION COMMENT STYLES ****/
.comments-feed {
    margin-top: 30px;
}

.comment-author {
    font-size: 1.2em;
}

.comment {
    -webkit-transition: background-color 2s ease;
    -moz-transition: background-color 2s ease;
    -o-transition: background-color 2s ease;
    transition: background-color 2s ease;
    padding: 10px 0;
}

.comment-body {
    border-left: 1px solid #f1f1f1;
    padding-top: 5px;
    min-height: 100px;
    color: #393d40;
}

.comment-highlight {
    background: #f6d8ca;
}

.figure-center {
    margin-top: 10px;
    text-align: center;
}

/**** USER NOTIFICATIONS STYLES ****/

.notif-menu {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    list-style: none;
    background: #fff;
}

.notif-menu::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

.notif-menu::-webkit-scrollbar-thumb {
    background: slategray;
    -ms-scrollbar-face-color: slategray;
    scrollbar-face-color: slategray;
}

.notif-menu::-webkit-scrollbar-track {
    background: #a3b2c2;
    -ms-scrollbar-track-color: #a3b2c2;
    scrollbar-track-color: #a3b2c2;
}

.dd-menu-header, .notif-footer {
    color: #777;
    font-size: 12px;
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 10px;
    background: #f7f7f7;
}

.notif-menu-item > a > div {
    padding: 10px;
    font-size: 12px;
}

.notif-menu-item {
    border-bottom: 1px solid #f1f1f1;
}

.notif-menu-item:hover, .dd-menu-item:hover,
.notif-row:hover {
    background: #f1f1f1;
}

.notif-icon, .notif-body {
    float: left;
}

.notif-icon {
    width: 14%;
}

.notif-body {
    width: 86%;
}

.date-time-sm {
    color: gray;
    font-size: 10px;
}

.notif-footer {
    width: 100%;
    border-top: 1px solid #d1d1d1;
    padding: 4px;
    text-align: center;
}

.notif-footer > a {
    color: #777;
}

.unread {
    background: #ddf0f6 !important;
}

.notif-empty {
    padding: 10px;
    color: #393d40;
}

.notif-row {
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}

/**** SETTINGS DROPDOWN STYLES ****/

.dd-menu {
    padding: 0 !important;
    list-style: none;
    background: #fff;
    min-width: 200px;
}

.dd-menu-item {
    padding: 10px;
}

.dd-menu-item a {
    text-decoration: none;
}

.dd-menu-item-icon {
    float: left;
    width: 15%;
}

.dd-menu-item-body {
    float: left;
    width: 85%;
}

/**********************************************
    HOME PAGE STYLES
**********************************************/
.search-container {
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}

.search-overlay {
    position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.1);
    z-index: 99;
    opacity: 1;
}

.search-bar {
    border: 1px solid #3399ff;
    border-radius: 30px;
    height: 40px;
    padding-left: 40px;
    width: 100%;
}
.search-bar:focus {
    outline: none;
}

.search-results {
    position: absolute;
    background: #fff;
    border: 1px solid #3399ff;
    border-top: none;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 97%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.search-results ul li,
.search-results .no-results {
    padding: 10px;
}

.search-results .no-results {
    text-align: center;
    color: #777;
}

.search-results-th {
    padding: 5px 10px!important;
    background:#f1f1f1;
}
.search-results-th:hover {
    background:#f1f1f1!important;
    cursor: default!important;
}

.search-results ul li a {
    color: #777;
}

.search-results ul li:not(:last-child),
.widget-table tr:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.search-results ul li:hover {
    background:#e8f3ff;
    cursor: pointer;
}

.search-results-heading {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background: #3399ff;
}

.search-results-footer {
    background: #2d86de;
    padding: 5px;
}
.search-results-footer a { color:#fff; }

.search-loading {
    background: white url("../../Media/search-loader.gif") 98% center no-repeat;
}


.widget-table {
    width: 100%;
    font-size: 0.9em;
}

.widget-table td {
    padding: 5px 0;
}

.arrow-right-anim i {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.arrow-right-anim:hover > i {
    -webkit-transform: translate(0.8em,0);
    -moz-transform: translate(0.8em,0);
    -o-transform: translate(0.8em,0);
    -ms-transform: translate(0.8em,0);
    transform: translate(0.8em,0);
}


.carousel-caption {
    left: 0;
    width: 100%;
    background-color:#0fb8ad;
    background-color:rgba(255, 25, 0, 0.7);
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

/**********************************************
    VALIDATION SUMMARY OVERRIDE STYLES
**********************************************/

.validation-summary-errors li:before {
    content: "\f06a";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

.validation-summary-errors {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    padding: 10px
}
.validation-summary-errors > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/**********************************************
    REGISTER STYLES
**********************************************/
.register-form {
    margin: 0 auto;
    max-width: 450px;
}

.register-heading {
    padding: 10px 0;
    text-align: center;
}

.register-fields .input-group {
    margin-bottom: 5px;
}

.register-btn {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background: #3399ff;
    border: 1px solid #2a7ed1;
    color: #fff;
    font-size: 1.2em;
    /*margin: 10px 0;*/
}

.btn-facebook, .btn-google, .btn-microsoft
 {
    margin: 10px;
    color:#fff;
}

.btn-facebook { background: #3b5998; }
.btn-google { background: #dd4b39; }
.btn-microsoft { background: #2672EC }

.btn-facebook:hover, .btn-facebook:focus { background: #304a80; color:#fff;}
.btn-google:hover, .btn-google:focus { background: #c14132; color:#fff;}
.btn-microsoft:hover, .btn-microsoft:focus {background: #2163ce; color:#fff;}

/**********************************************
    CREATE SESSION STYLES
**********************************************/

/* Platform icons */

.platform-icon {
    display: inline-block;
    width: 64px;
    height: 70px;
    position: relative;
    background: url("../../Media/platform-icon-sprite.png");
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

a.platform-icon, a.type-icon {
    cursor: pointer;
}

.platform-icon::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    background-color: #3399ff;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

a.platform-icon:hover::after, .platform-icon.selected::after {
  height: 3px;
}

.platform-pc { background-position: 0 0; }
a.platform-pc:hover, .platform-pc.selected { background-position: 0 -5px; }

.platform-xbox { background-position: 0 -70px;}
a.platform-xbox:hover, .platform-xbox.selected { background-position: 0 -75px; }

.platform-xbox-one { background-position: 0 -140px; }
a.platform-xbox-one:hover, .platform-xbox-one.selected { background-position: 0 -145px; }

.platform-ps2 { background-position: 0 -210px; }
a.platform-ps2:hover, .platform-ps2.selected { background-position: 0 -215px; }

.platform-ps3 { background-position: 0 -280px; }
a.platform-ps3:hover, .platform-ps3.selected { background-position: 0 -285px; }

.platform-ps4 { background-position: 0 -350px; }
a.platform-ps4:hover, .platform-ps4.selected { background-position: 0 -355px; }

.platform-wii { background-position: 0 -420px; }
a.platform-wii:hover, .platform-wii.selected { background-position: 0 -425px; }

.platform-wii-u { background-position: 0 -490px; }
a.platform-wii-u:hover, .platform-wii-u.selected { background-position: 0 -495px; }

.platform-ios { background-position: 0 -560px; }
a.platform-ios:hover, .platform-ios.selected { background-position: 0 -565px; }

.platform-android { background-position: 0 -630px; }
a.platform-android:hover, .platform-android.selected { background-position: 0 -635px; }

/* Type icons */

.type-icon {
    display: inline-block;
    width: 96px;
    height: 144px;
    position: relative;
    background: url("../../Media/type-icons.png");
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.type-icon::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    background-color: orange;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

a.type-icon:hover::after, .type-icon.selected::after {
  height: 5px;
}

.type-boosting { background-position: 0 0; }
a.type-boosting:hover, .type-boosting.selected { background-position: 0 -5px; }

.type-achievement { background-position: 0 -144px; }
a.type-achievement:hover, .type-achievement.selected { background-position: 0 -149px; }

.type-competitive { background-position: 0 -288px; }
a.type-competitive:hover, .type-competitive.selected { background-position: 0 -293px; }

.type-clan { background-position: 0 -432px; }
a.type-clan:hover, .type-clan.selected { background-position: 0 -437px; }

.type-coop { background-position: 0 -576px; }
a.type-coop:hover, .type-coop.selected { background-position: 0 -581px; }

.type-casual { background-position: 0 -720px; }
a.type-casual:hover, .type-casual.selected { background-position: 0 -725px; }


.goals-panel {
    max-height: 325px;
    overflow: auto;
    min-height: 150px;
}

#goals-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.goal-item {
    margin: 5px 0;
}

.goal-item input, .goal-item input:active,
.goal-item input:focus {
    border: none;
    border-bottom: 1px solid orange;
    width: 85%;
    padding: 3px;
}

#add-goal {
    color: darkgoldenrod;
}

.session-create-btn, .invite-friends-btn,
.edit-session-btn, .leave-session-btn,
.join-session-btn {
    border: 2px solid rgb(41, 113, 196);
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    color: rgb(255, 255, 255);
    max-width: 300px;
    font-size: 1.2em;
}

.tw-btn:hover, .tw-btn:focus {
    color:#FFF;
    text-decoration: none;
}

.session-create-btn, .edit-session-btn {
    border-color:rgb(41, 113, 196);
    background: rgb(51, 153, 255);

}

.session-create-btn:hover, .edit-session-btn:hover {
    border-color:rgb(36, 99, 172);
    background: rgb(47, 136, 225);
}

.invite-friends-btn {
    border: 2px solid rgb(196, 126, 41);
    background: rgb(255, 182, 51);
}
.invite-friends-btn:hover {
    border: 2px solid rgb(142, 93, 32);
    background: rgb(237, 169, 49);
}

.invite-users-modal {
    max-height: 300px;
    overflow-y: auto;
}

/**********************************************
    SESSION LIST STYLES
**********************************************/
.type-icon-sm {
    display: inline-block;
    width: 64px;
    height: 66px;
    background: url("../../Media/type-icons-sm.png");
}
.type-boosting-sm { background-position: 0 0; }
.type-achievement-sm { background-position: 0 -66px; }
.type-competitive-sm { background-position: 0 -132px; }
.type-clan-sm { background-position: 0 -198px; }
.type-coop-sm { background-position: 0 -264px; }
.type-casual-sm { background-position: 0 -330px; }

/**********************************************
    SESSION DETAILS STYLES
**********************************************/
.session-heading {
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
}
.session-sub-heading {
    color: gray;
    margin: 0;
    font-size: 16px;
}

.session-goals {
    margin-bottom: 20px;
    min-height: 150px;
}

.session-details {
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
}

.session-members ul {
    list-style: none;
    padding: 0;
    max-height: 270px;
    overflow: auto;
    margin: 0;
}

.session-members li {
    padding: 5px 0;
}

.session-members li:not(:last-child){
    border-bottom: 1px solid #f1f1f1;
}

.session-actions {
    margin: 10px 0 40px;
}

.leave-session-btn {
    border-color:#d24d57;
    background: #f55b67;
}

.leave-session-btn:hover {
    border-color:#b7454d;
    background: #e05661;
}

.join-session-btn {
    border-color:#21904f;
    background: #26A65B;
}

.join-session-btn:hover {
    border-color:#1b7942;
    background: #218e4e;
}

/**********************************************
    ALL SESSIONS STYLES
**********************************************/

.session-filter {
    background: #ffffff;
    border-radius: 5px;
}


.session-group-heading {
    background: #6c9bcb;
    color: #FFF;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.session-group-table {
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 40px;
    display: table;
    width: 100%;
}

.thead {
    display: table-header-group;
    text-align: center;
}

.th {
    border-bottom: 2px solid #ddd;
    padding: 5px 0;
    font-weight: bold;
}

.tr {
    display: table-row;
    text-decoration: none !important;
}
.tr:not(:last-child) .tc{
    border-bottom: 1px solid #ddd;
}

.tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.tr:hover {
    background-color: #e9f4ff;
}

.tc, .th {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

.width-10 { width: 10%; }
.width-20 { width: 20%; }

.session-group-table tr {
    cursor: pointer;
}

.session-group-table th {
    text-align: center;
}

.no-sessions, .no-messages {
    text-align: center;
    background-color: #fff;
    min-height: 50px;
    padding: 20px;
    font-size: 1.3em;
    color: #454545;
    margin: 20px 0;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


/**********************************************
    SOCIAL SHARING STYLES
**********************************************/
.social-icon {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    position: relative;
    background: url("../../Media/social-media-icons.png");
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.social-icon::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

.social-icon:hover::after {
  height: 5px;
}

/* facebook */
.icon-facebook, .share-fb {
  background-color: #3b5998;
  background-position: 0 0;
}

.icon-facebook:hover,
.share-fb:hover {
  background-position: 0 -5px;
}

.icon-facebook::after,
.share-fb::after {
  background-color: #1e2e4f;
}

/* twitter */
.icon-twitter {
  background-color: #4099ff;
  background-position: -48px 0;
}

.icon-twitter:hover {
  background-position: -48px -5px;
}

.icon-twitter::after {
  background-color: #0065d9;
}

/* google plus */
.icon-googleplus {
  background-color: #d34836;
  background-position: -96px 0;
}

.icon-googleplus:hover {
  background-position: -96px -5px;
}

.icon-googleplus::after {
  background-color: #86291d;
}

/**********************************************
    EDIT PROFILE STYLES
**********************************************/
ul.edit-profile-nav {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

ul.edit-profile-nav .active {
    border-right: 5px solid red;
}

.edit-profile-nav > li div{
    padding: 20px;
    font-weight: bold;
    color: gray;
}

.edit-profile-nav a:hover, .edit-profile-nav a:focus{
    text-decoration: none;
}

.edit-profile-nav li:hover{
    background: #f1f1f1;
}

.edit-profile-nav > li {
    border-bottom: 1px solid #f1f1f1;
}

.user-img-upload {
    width: 180px;
    margin: 0 auto;
}
.user-img-upload input {
    display: none;
}

.user-img-upload label {
    background: #f1f1f1;
    border: 1px solid #b4b4b4;
    color: gray;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    width: 100%
}

.user-img-upload label:hover {
    background: #d9d9d9;
    color: #606060;
}

.file-upload {
    display: none;
    visibility: hidden;
}

.file-upload-submit {
    width: 100%;
    background: #3399FF;
    border: 1px solid #2f88e1;
    color: #fff;
    padding: 5px;
    display: none;
}

.file-upload-submit:hover {
    background: #2f88e1;
}

/**********************************************
    INBOX STYLES
**********************************************/
.inbox-table {
    margin: 20px 0;
    border: 1px solid rgb(42, 123, 204);
}

.inbox-table tbody tr:nth-child(odd) {
    background:#f9f9f9;
}

.inbox-table thead {
    background: rgb(47, 136, 225);
    color: #fff;
}

.inbox-table > thead > tr > th {
    border-bottom: 2px solid rgb(42, 123, 204);
}

.inbox-table td {
    padding: 10px !important;
    vertical-align:middle !important;
}

.create-message, .view-message {
    margin: 40px 0;
}

.tag-editor {
    padding: 3px 0 0 0;
}

.view-msg-time {
    float: right;
    margin-top: 10px;
    color: gray;
}

.view-msg-body {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #c3c3c3;
    min-height: 150px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
}

.view-msg-user {
    color: grey;
    font-size: 1.1em;
}
.view-msg-user:hover {
    text-decoration: none;
    color: #4d4d4d;


}

/**********************************************
    MY AWARDS STYLES
**********************************************/
.award,.award-unlocked, .award-locked {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("../../Media/awards-sprite.png");
}

.award-summary {
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #f1f1f1;
}

.award-group-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #005ca1;
}

.award-group {
    margin-bottom: 60px;
}

.award-block {
    border: 1px solid #f1f1f1;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 5px;
}

.award-body {
    padding-top: 20px;
}

.award-progress-lbl {
    position: absolute;
    width: 100%;
    padding-right: 30px;
    color: #515151;
    font-weight: bold;
}

.award-level {
    width: 10px;
	height: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    margin-right: 2px;
}

.award-beginner { background-color: #CD7F32; }
.award-novice { background-color: #C0C0C0; }
.award-intermediate { background-color: #FAA500; }
.award-advanced { background-color: #19B5FE; }
.award-expert { background-color: #F22613; }

.award-created-1 { background-position: 0 -750px; }
.award-created-10 { background-position: 0 -900px; }
.award-created-100 { background-position: 0 -1050px; }
.award-created-250 { background-position: 0 -1200px; }
.award-created-1000 { background-position: 0 -1350px; }

.award-completed-1 { background-position: 0 0; }
.award-completed-10 { background-position: 0 -150px; }
.award-completed-100 { background-position: 0 -300px; }
.award-completed-250 { background-position: 0 -450px; }
.award-completed-1000 { background-position: 0 -600px; }

.award-kudos-100 { background-position: 0 -1500px; }
.award-kudos-1000 { background-position: 0 -1650px; }
.award-kudos-10000 { background-position: 0 -1800px; }
.award-kudos-50000 { background-position: 0 -1950px; }
.award-kudos-100000 { background-position: 0 -2100px; }

.award-feedback-5 { background-position: 0 -2250px; }
.award-feedback-6 { background-position: 0 -2400px; }
.award-feedback-7 { background-position: 0 -2550px; }
.award-feedback-8 { background-position: 0 -2700px; }
.award-feedback-9 { background-position: 0 -2850px; }

.award-donated { background-position: 0 -3000px; }
.award-donated-superior { background-position: 0 -3150px; }

.award-crowdfunded { background-position: 0 -3300px; }

.award-locked { background-position: 0 -3600px; }
.award-unlocked { background-position: 0 -3450px; }


/**********************************************
    MY PROFILE STYLES
**********************************************/

.no-friends {
    background-color: #fff;
    color: #454545;
    font-size: 1.3em;
    min-height: 50px;
    padding: 20px;
    text-align: center;
}

.friends-table, .social-table,
.sessions-completed-table { width: 100% }

.friends-table tr:not(:last-child),
.sessions-completed-table tr:not(:last-child) { border-bottom: 1px solid #f1f1f1; }

.friends-table td,
.sessions-completed-table td { padding: 5px 0; }

.user-about {
    font-size: 1em;
    background: #ffedee;
    border-left: 10px solid #ed1c24;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-bottom: 10px;
}

.user-about:before {
    color: #ed1c24;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

.user-about p {
    color: #393d40;
    display: inline;
}

.user-about-empty, .my-about-empty, .no-social-links,
.user-social-empty {
    border: 2px dashed #ed1c24;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #393d40;
    font-style: italic;
    min-height: 50px;
}

.user-about-empty, .user-social-empty {
    border-color: gray;
}

.user-awards {
    text-align: center;
    border-left: 10px solid #ffc193; 
    margin-top: 10px;
    padding: 1px;
    background: #ffe8d7;
}

.award-title {
    color: gray;
}
.my-awards:hover {
    text-decoration: none;
}

/**********************************************
            LEADERBOARD STYLES
**********************************************/

.leaderboard-table {
    width: 100%;
    margin: 20px 0;
    background-color: #fff;
}

.leaderboard-table tbody tr:nth-child(even) {
    background:#f0f9ff;
}

.leaderboard-table thead {
    background: rgb(47, 136, 225);
    border: 1px solid rgb(42, 123, 204);
    color: #fff;
}

.leaderboard-table > thead > tr > th {
    padding: 10px;
}

.leaderboard-table > tbody > tr{
    border: 1px solid rgb(211, 211, 211);
}

.leaderboard-table td {
    padding: 10px;
    min-height: 30px;
}

/*Colour the top 3 rows*/
.gold, 
.silver,
.bronze{
    position: relative;
}

.gold:after,
.silver:after,
.bronze:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0; 
    height: 0; 
    display: block;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid #f1f1f1;

}

.bronze:after {
    border-top-color: #CD7F32;
}

.silver:after {
    border-top-color: #C0C0C0;
}

.gold:after {
    border-top-color: #FFD700;
}

.leaderboard-me {
    font-weight: bold;
    background-color: #d5ffce !important;
}

.widget-login {
    min-height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    color: #454545;
    margin-bottom: 20px;
}

/**********************************************
    MEDIA QUERIES
**********************************************/

/* XS Only */
@media (max-width: 767px) {
    .notif-menu { width: 100%; }
    .notif-body { width: 100%; }

    #session-details {
        text-align: center;
    }

    .center-xs {
        text-align: center!important;
    }
}