
body {
    margin:0;
	min-height: 100%;
    position: relative;
}
html {
    height: 100%
}


.body-content {
    padding: 20px 15px 200px 15px;
}

.ui-autocomplete-loading {
    background: white url("../../Media/search-loader.gif") 92% center no-repeat;
  }
/* Adjust padding to accommodate for footer */
@media (max-width: 767px) {
  .body-content {
      padding-bottom: 290px;
  }
}

.font-16{ font-size: 16px; }
.font-14{ font-size: 14px; }
.font-12{ font-size: 12px; }

.logo {
    min-height: 55px;
    max-height: 55px;
    min-width: 230px;
    margin: 10px;
    background: url("../../Media/logo.svg") no-repeat 0 0 ;
    background-size: auto 55px;
}
.logo:hover {
    background: url("../../Media/logo-alt.svg") no-repeat 0 0 ;
    background-size: auto 55px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

figcaption {
    color: gray;
    margin-top: 5px;
}

.heading-lines {
  position: relative;
  overflow: hidden;
    text-align: center;
}

.heading-lines span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}

.heading-lines span:before,
.heading-lines span:after {
    border-top: 1px solid #f1f1f1;
    content: "";
    display: block;
    position: absolute;
    top: 0.6em;
    width: 100%;
}
.heading-lines span:before { right: 100% }
.heading-lines span:after { left: 100%; }

.margin-none {
    margin:0;
}

.pad-r-none {
    padding-right: 0;
}

.pre-textarea {
    white-space: pre-line;
}

.inline-block {
    display: inline-block;
}

/***************************
    BOOTSTRAP OVERRIDES
***************************/

.navbar {
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0;    
}

.navbar-link {
    font-size: 1.2em;
}

.navbar-nav > li > a {
    height: 75px;
    border-bottom: 3px solid transparent;
    padding-bottom: 15px;
    padding-top: 25px;
}

.navbar-nav > li > a:hover {
    border-bottom: 3px solid red;
}

.dropdown-menu {
    padding: 0;
}

.divider {
    margin: 0 !important;
}

.control-label {
    color: #5f5f5f;
}

.form-control, .form-control:focus {
    border-color: #3399ff;
    border-radius: 0;
}

.label {
    font-size: 1em;
}

/***************************
    FORM STYLES
***************************/

.error-msg {
    margin: 10px 5px;
    color: #a94442;
}

.info-icon {
    color: #3399FF;
    cursor: pointer;
    font-size: 16px;
}

.input-icon {
    position: relative;
}

.input-search, .input-cal, .input-clock,
i.input-icon-l {
    position: absolute;
    right: 10px;
    top: 30%;
    z-index: 10;
    color: #555;
}
select.input-icon-l, input.input-icon-l {
    padding-left: 25px;
}
i.input-icon-l {
    left: 8px;
    right: 100%;
}

.search-control {
    padding-right: 11%;
}

.byline {
    font-size: 0.75em;
    color: gray;
    display: block;
}

/*************************/

.well-info {
    background: #d8f7ff;
    border-color: #97cbff;
}

.gray {
    color: gray;
}

/*.fa {
    font-size: 18px;
}*/

.fa-gamepad {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.fa-clock-o { font-size: 14px; }
.fa-star, .fa-star-o {
    color: #e0b611;
}

.date-time {
    color: gray;
    font-size: 12px;
}

.date-time-right {
    bottom: 5px;
    position: absolute;
    right: 20px;
}

.list-container {
    background: #f0f0f0;
    padding: 5px;
    margin-bottom: 20px;
}

.list-container > h2 {
    margin: 5px;
}

.border-top-red, .widget-red { border-top: 4px solid #d24d57; }
.border-bottom-red { border-bottom: 3px solid #d24d57; }
.border-right-red {border-right: 3px solid #d24d57;}

.border-top-blue, .widget-blue { border-top: 4px solid #3399FF; }
.border-bottom-blue { border-bottom: 3px solid #3399FF; }
.border-right-blue {border-right: 3px solid #3399FF;}

.border-top-orange, .widget-orange { border-top: 4px solid #FF9933; }
.border-bottom-orange { border-bottom: 3px solid #FF9933; }
.border-right-orange { border-right: 3px solid #FF9933;}

/* Ajax Loading Spinner */
.ajax-spinner {
    min-height: 300px;
    background: url(../../Media/loader.gif) no-repeat center center;
}

/*Session List Item styles*/

div.sli-container {
    margin: 8px 0 0 0;
    height: 125px;
}

div.sli-heading-time {
    font-size: 12px;
    padding: 3px 5px 0;
}

div.sli-details-left {
    width: 30%;
    height: 100px;
    background: whitesmoke;
    float: left;
    text-align: center
}

div.sli-details-left-image { margin: 10px 0; }

div.sli-details-right {
    width: 70%;
    height: 100px;
    padding: 5px;
    float: right;
}

.sli-red{ background: #FFCCCC; }

.sli-blue{ background: #D6EBFF; }

.sli-orange{ background: #FFE0C2; }


/* Widgets */

.widget {
    margin-bottom: 40px;
    box-shadow: 0 1px 3px #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.widget > .widget-heading, .widget > .widget-body {
    padding: 10px;
    margin: 0;
    border: 1px solid #D0D0D0;
}

.widget > .widget-heading {
    background-color: #EEE;
    border-bottom:none;
}

.widget > .widget-body {
    min-height: 150px;
}

