body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
/*textarea*/ {
    max-width: 280px;
}

figcaption {
    color: gray;
    margin-top: 5px;
}

.pre-textarea {
    white-space: pre-line;
}

.navbar-nav > li > a {
    height: 50px;
    border-bottom: 3px solid transparent;
}

.navbar-nav > li > a:hover {
    border-bottom: 3px solid red;
}

/*.fa {
    font-size: 18px;
}*/

.fa-gamepad {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.fa-clock-o { font-size: 14px; }
.fa-star, .fa-star-o {
    color: #e0b611;
}

.date-time {
    color: gray;
    font-size: 12px;
}

.list-container {
    background: #f0f0f0;
    padding: 5px;
    margin-bottom: 20px;
}

.list-container > h2 {
    margin: 5px;
}

.border-top-red, .widget-red { border-top: 4px solid #d24d57; }
.border-bottom-red { border-bottom: 3px solid #d24d57; }
.border-right-red {border-right: 3px solid #d24d57;}

.border-top-blue, .widget-blue { border-top: 4px solid #3399FF; }
.border-bottom-blue { border-bottom: 3px solid #3399FF; }
.border-right-blue {border-right: 3px solid #3399FF;}

.border-top-orange, .widget-orange { border-top: 4px solid #FF9933; }
.border-bottom-orange { border-bottom: 3px solid #FF9933; }
.border-right-orange { border-right: 3px solid #FF9933;}

/* Ajax Loading Spinner */
.ajax-spinner {
    min-height: 300px;
    background: url(../Media/loader.gif) no-repeat center center;
}

/*Session List Item styles*/

div.sli-container {
    margin: 8px 0 0 0;
    height: 125px;
}

div.sli-heading-time {
    font-size: 12px;
    padding: 3px 5px 0;
}

div.sli-details-left {
    width: 30%;
    height: 100px;
    background: whitesmoke;
    float: left;
    text-align: center
}

div.sli-details-left-image { margin: 10px 0; }

div.sli-details-right {
    width: 70%;
    height: 100px;
    padding: 5px;
    float: right;
}

.sli-red{ background: #FFCCCC; }

.sli-blue{ background: #D6EBFF; }

.sli-orange{ background: #FFE0C2; }


/* Widgets */

.widget {
    margin-bottom: 40px;
    box-shadow: 0 1px 3px #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.widget > .widget-heading, .widget > .widget-body {
    padding: 10px;
    margin: 0;
    border: 1px solid #D0D0D0;
}

.widget > .widget-heading {
    background-color: #EEE;
    border-bottom:none;
}

.widget > .widget-body {
    min-height: 150px;
}

/* User Notifications Menu*/
.notif-menu {
    min-width: 400px;
    height: 300px;
}
.unread {
    background-color: deepskyblue;
}