
<h4 class="widget-heading border-bottom-green"><i class="fa fa-twitter"></i> Connect With Us </h4>
<div class="widget">
    <p class="text-center gray">Stay up-to-date with latest from the TriggerWars team.</p>

    <div class="clearfix text-center" style="font-size: 3.4em;">
        <div class="inline-block" style="width: 25%">
            <a href="https://www.facebook.com/TriggerWars/" title="Facebook" target="_blank">
                <i class="fa fa-facebook-official" style="color: #3B5998;"></i>
            </a>
        </div>
        <div class="inline-block" style="width: 25%">
            <a href="https://twitter.com/TriggerWars" title="Twitter" target="_blank">
                <i class="fa fa-twitter-square" style="color: #4099FF;"></i>
            </a>
        </div>
        <div class="inline-block" style="width: 25%">
            <a href="https://www.youtube.com/channel/UCPp8AXvtuVwfiq-aS_gJEFA" title="YouTube" target="_blank">
                <i class="fa fa-youtube-play" style="color: #cd201f;"></i>
            </a>
        </div>
    </div>
</div>