
@{
    ViewBag.Title = "Beta";
}

<h2>Beta <small>- Launched 18th May 2016</small>
</h2>
<hr/>

<p>At last we have launched the TriggerWars beta. Many many hours have gone in to the development of the site and we still have many many more to put in.</p>
<p>What does this mean for you? Well, we will be continually adding new features and fixing any issues we (or you) find to help improve the experience for you.</p>
